h1 {
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 48px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    display: block;
}

.header_bar {
    background-color: #9DAD7F;
    margin: 0;
}

body {
    font-family: 'Ropa Sans', sans-serif;
}

nav {
    background-color: #C7CFB7;
    height: auto;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li{
    float: left;
    font-size: larger;
}

li a {
    display: block;
    text-align: center;
    padding: 10px 10px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: rgb(66, 102, 78);
}


a:hover {
    color: gray;
    text-decoration: underline;
}

.container {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.action {
    flex-direction: column;
    margin: auto;
}

fieldset {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-image: initial;
}

.entry-details {
    list-style: none;
}
